.navbar-brand {
    font-size: 20px;
    margin-right: 15px;
}
.container-fluid,
.jumbotron {
    box-shadow: 0 5px 10px rgba(22, 50, 60, 0.5);
}
.navbar {
      margin-bottom: 0;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.9;
  }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-nav li.active a,
.navbar-nav li a:hover,
.navbar-nav li a:focus,
.open .dropdown-toggle,
.dropdown-menu{
      background-color: #4197b3 !important;
  }
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.container-fluid{
    background-image: linear-gradient(#4197b3, #367d94, #2b6375, #214c5a, #16323c);
}
.breadcrumbtab {
	color: #4197b3;
}
.breadcrumbtab:hover,
.breadcrumbtab:focus{
	color: #16323c;
	text-decoration: none;
}
.jumbotron {
    color: #214C5A;
    min-width: 250px;
}
.table {
    margin-bottom:0px;
}
th, td {
    padding-right: 10px;
}

