.navbar-brand {
    font-size: 20px;
    margin-right: 15px;
}
.navbar-inverse,
.jumbotron {
    box-shadow: 0 5px 10px rgba(22, 50, 60, 0.5);
}
.navbar-inverse {
    width: 100%;
    height: 60px;
    padding-right: 15px;
    padding-left: 15px;

    background-image: linear-gradient(#4197b3, #367d94, #2b6375, #214c5a, #16323c);
    border:none;
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    background: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.1) 25%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.1) 75%,
        rgba(255, 255, 255, 0) 100%);
    border: none;
}
.breadcrumbtab {
	color: #4197b3;
}
.breadcrumbtab:hover,
.breadcrumbtab:focus{
	color: #16323c;
	text-decoration: none;
}
.jumbotron {
    color: #214C5A;
}