{% extends "base.html" %}
{% load thread_extras %}
{% block content %}
     <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="breadcrumbtab" href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active">Forum</li>
    </ol>
{% load bootstrap_tags %}
      {% for subject in subjects %}
        <section class="col-lg-12">
            <div  class="jumbotron">
                <table>
                    <tr>
                        <th>Topics</th>
                        <th>Description</th>
                        <th>Threads</th>
                        <th>Posts</th>
                    </tr>
                    <tr>
                        <td><a href="{% url 'threads' subject.id %}">{{ subject.name }}</a></td>
                        <td><a>
                            {% autoescape off %}
                                {{ subject.description }}
                            {% endautoescape %}
                        </a>
                        </td>
                        <td>{{ subject.threads.count }}</td>
                        <td>{{ subject|get_total_subject_posts }}</td>
                    </tr>
                </table>
            </div>
        </section>
    {% endfor %}
{% endblock %}