{% extends "base.html" %}
{% load thread_extras %}
{% block content %}
{% load bootstrap_tags %}
    <div class="container">
        <h1></h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="breadcrumbtab" href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active">Forum</li>
        </ol>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Topics</th>
                    <th>Threads</th>
                    <th>Posts</th>
                </tr>
            </thead>

            <tr>{% for subject in subjects %}
                <td>
                    <a href="{% url 'threads' subject.id %}">{{ subject.name }}</a>
                </td>
                <td>{{ subject.threads.count }}</td>
                <td>{{ subject|get_total_subject_posts }}</td>
            </tr>{% endfor %}
        </table>
    </div>

{% endblock %}