{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
    <h1></h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="breadcrumbtab" href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active">About</li>
    </ol>
</div>
<div>
    <div class="jumbotron">
        <h1>About Irish Camping</h1>
        <p>Here at Irish Camping, we think it's nice to share. Whether it's tips on great camping locations or outdoor activities, or sourcing unwanted camping equipment.</p>
        <p>We've created a simple and easy to use discussions forum to do just that.</p>
    </div>
    <div>
        <h2>How it works</h2>
        <p>Take a look through our forums and share your thoughts on our camping topics with fellow campers.</p>
        <h2>Looking for equipment?</h2>
        <p>Simply register your account and go to our <a href="{% url 'forum' %}">Forum</a> Page. Here you can post requests for equipment to other users.</p>
        <h2>Have equipment to share or sell?</h2>
        <p>Register your account and post your ad<a href="{% url 'forum' %}"> here</a>. Here you can post about available equipment to other users.</p>
        <h2>How can I post to the forum?</h2>
        <p>Simply register your account for only €1.99 for unlimited access to all of our forums.</p>
    </div>
</div>
{% endblock %}
