{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Irish Camping App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome-4.5.0/css/font-awesome.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.js"></script>

    <!-- Custom CSS -->
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    {% block head_js %}{% endblock head_js %}
</head>
<body>

   <div class="masthead">
       <nav class="navbar navbar-inverse">
           <div class="container-fluid">
               <div class="navbar-header">
                   <a class="navbar-brand" href="{% url 'index' %}">Irish Camping App</a>
               </div>
               <ul class="nav navbar-nav">
                   <li class="navtab"><a href="{% url 'index' %}">Home</a></li>
                   <li class="navtab"><a href="{% url 'about' %}">About</a></li>
                   <li class="navtab"><a href="{% url 'forum' %}">Forum</a></li>
                   <li class="navtab"><a href="{% url 'contact' %}">Contact Us</a></li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                   {% if user.is_authenticated %}
                       <li class="navtab"><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                       <li class="navtab"><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
                   {% else %}
                       <li class="navtab"><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                       <li class="navtab"><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                   {% endif %}
               </ul>
           </div>
       </nav>
   </div>
   <hr>
   <div class="container">
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

 
   <div class="container">
       {% block content %}
       {% endblock %}
   </div>
   <hr>
   <footer class="text-center">
    <div class="container">
        <p id="footericons">
            <a class="footericon" href="" target=_blank><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a class="footericon" href="" target=_blank><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a class="footericon" href="" target=_blank><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class="footericon" href="" target=_blank><i class="fa fa-github" aria-hidden="true"></i></a>
        </p>
    </div>

</footer>
</div>

</body>
 
</html>
