{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
    <h1></h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="breadcrumbtab" href="{% url 'index' %}">Home</a></li>
        <li class="breadcrumb-item active">Contact Us</li>
    </ol>
</div>
<div>
    <div class="jumbotron">
        <h1>Contact Us</h1>
        <p></p>
        <p></p>

    <div class="row">
            <!-- Map Column -->
            <div class="col-lg-8 col-sm-12">
                   <p><iframe width="560" height="315" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9848.636205792158!2d-8.469672247939716!3d51.89456147304321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbf66ccf0ff3b2fa9!2sIrish+Camping!5e0!3m2!1sen!2sie!4v1529511569773" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></p>
            </div>
            <!-- Contact Details Column -->
            <div class="col-lg-4 col-sm-12">
                <h3>Contact Details</h3>
                <br>
                <p>
                    <i class="fa fa-map-marker" aria-hidden="true"></i> <a href="https://goo.gl/maps/KdULxuAec9P2"> St Patrick's St, Cork</a>
                </p>
                <p>
                    <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:010101010">(021)1212121</a>
                </p>
                <p>
                    <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:aisling1odonvan@gmail.com">info@irishcamping.ie
                    </a>
                </p>
                <p>
                    <i class="fa fa-twitter" aria-hidden="true"></i> <a href="https://twitter.com/CodersInstitute" target=_blank>Find us on Twitter
                    </a>
                </p>
                <p>
                    <i class="fa fa-facebook" aria-hidden="true"></i> <a href="https://www.facebook.com/Code.InstituteIRL/" target=_blank>Find us on Facebook
                    </a>
                </p>
                <p>
                    <i class="fa fa-linkedin" aria-hidden="true"></i> <a href="https://www.linkedin.com/company-beta/5350891/" target=_blank>Find us on Linkedin
                    </a>
                </p>

            </div>
        </div>
    </div>
</div>
{% endblock %}
