{% extends 'base.html' %}
{% load static %}
{% block content %}
{% get_static_prefix as STATIC_PREFIX %}


    <header>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
		    <div class="item active">
		      <img src="{{ STATIC_PREFIX }}img/camping.jpg"/>
		    </div>
		    <div class="item">
		      <img src="{{ STATIC_PREFIX }}img/camping2.jpg"/>
		    </div>
              <div class="item">
		      <img src="{{ STATIC_PREFIX }}img/camping3.jpg"/>
		    </div>
		    <div class="item">
		      <img src="{{ STATIC_PREFIX }}img/camping4.jpg"/>
		    </div>
		  </div>
        </div>
    </header>
    <section>
        <div class="jumbotron">
            <h1>Welcome to Irish Camping</h1>
            <p>Source information and gear easily from other camping enthusiasts and outdoor adventurers.</p>
        </div>
    </section>


         <!-- Page Content -->
    <div class="container">
        <h1></h1>
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <h4 class="card-header">Our Forum</h4>
                    <div class="card-block">
                        <p class="card-text">Browse out forum for free or simply register if you'd like to contribute.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'forum' %}" class="btn btn-success">Browse the forum</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <h4 class="card-header">How does it work?</h4>
                    <div class="card-block">
                        <p class="card-text">Take a look at our guide to better understand how it all works.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'about' %}" class="btn btn-success">About Irish Camping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}