{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="({% static 'imgs/camping.jpg' %})" alt="First slide">
            </div>
            <div class="carousel-item"></div>
            <div class="carousel-item"></div>
        </div>
    </div>
    <div>
        <h4></h4>
        <p></p>
    </div>
{% endblock %}
