{% extends 'base.html' %}
{% load static %}
{% block content %}
{% get_static_prefix as STATIC_PREFIX %}


    <div class="jumbotron">
        <img src="{{ STATIC_PREFIX }}img/camping.jpg"/>
        <h1 class="welcomeMessage">Welcome to Irish Camping</h1>
    </div>
    <section>
        <p>Source information and gear easily from other camping enthusiasts and outdoor adventurers.</p>
    </section>


         <!-- Page Content -->
    <div class="container">
        <h1></h1>
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <h4 class="card-header">Our Forum</h4>
                    <div class="card-block">
                        <p class="card-text">Browse out forum for free or simply register if you'd like to contribute.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'forum' %}" class="btn btn-success">Browse the forum</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <h4 class="card-header">How does it work?</h4>
                    <div class="card-block">
                        <p class="card-text">Take a look at our guide to better understand how it all works.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'about' %}" class="btn btn-success">About Irish Camping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}